.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign__form {
  background: #fff;
  border: 1px solid rgba(39, 39, 39, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  width: 510px;
  height: 520px;
  padding: 40px 88px 60px;
}

.sign__button {
  width: 176px;
}

.sign__logo {
  width: 88px;
  height: 88px;
  margin-bottom: 20px;
}
